.btn {
    padding: 25px 165px;
    font-size: 20px;
    margin: 100px;
    background-color: #ffffff;
    border: solid 5px #000;
}
.btn-1:hover{
    background-color: #000;
    color: #ffffff;
}

.btn-2 {
    border-radius: 50px;
}
.btn-2:hover {
    color: #ffffff;
    background: linear-gradient(to right,#636363,#BBBBBB);
}